*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.sky, .land, .road{
   position: relative;
}

.sky{
    background-color: skyblue;
    height: 40%;
}
.land{
    background-color: green;
    height: 30%;
}
.road{
    background-color: #323232;
    height: 30%;
    border-top: #9f9f9f 10px solid;
    border-bottom: #9f9f9f 10px solid;
}
.road-line{
    height: 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    border: white 5px dashed;
}

.mario{
    display: block;
    position: absolute;
    top: -35px;
    animation-name: drive;
    animation-duration: 1s;
    /* backwards + forward */
    animation-fill-mode: both;
}

.luigi{
   display: block;
   position: absolute;
   bottom: 15px;
   animation-name: drive;
   /* if luigi animation start from 200px instead of 0
   without animation-fill-mode: backwards; luigi will jump to 200px and start animation from there.
   with animation-fill-mode: backwards; luigi will start from 200px and move to end and return back to which point .luigi image was
   */
   animation-fill-mode: backwards;

    animation-duration: 1.5s;
    /* we can see  animation-fill-mode: backwards effect when we use delay*/
    animation-delay: 1s;

}

@keyframes drive{
    from{
       transform: translateX(200px);
    }
    to{
        transform: translateX(90dvw);

    }
    
}